<div class='form-container'>

  <h1>Sign In</h1>

  <%= form_tag sessions_path do%>

    <%= label_tag :email %>
    <div>
      <%= email_field_tag :email %>
    </div>

    <%= label_tag :password %>
    <div>
      <%= password_field_tag :password %>
    </div>

    <div id='sign-in'>
      <%= submit_tag 'Sign In' %>
      <%= button_to 'Forgotten Password?', new_password_reset_path %>
    </div>

    <p> - or - </p>

    <div class='google-login'>
      <%= button_to 'Sign in with Google', sign_in_with_google_path, id: "sign_in" %>
    </div>

    <div class='facebook-login'>
      <%= button_to 'Sign in with Facebook', sign_in_with_facebook_path, id: "sign_in", :disabled => true %>
    </div>

  <%end%>

</div>
