<div id="index-container">
  <div id='index-search'>
    <%= form_tag posts_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <!-- <%= submit_tag 'Search', :name => nil %> -->
        <i class="fa fa-search" aria-hidden="true" id='form-submit-link'></i>
    <% end %>
    <%= button_to 'View by Tags', tags_path, :method => 'get' %>
</div>

  <% @post.each do |p| %>
  <div class='index-element'>
    <div class='post-title'><%= link_to p.title, post_path(p) %></div>
    <div class='post-body'><%= p.body_snippet %></div>
  </div>
  <% end %>


  <%= paginate @post %>
</div>
