<h1 id='post-header'><%= @post.title %></h1>
  <div id= 'index-options'>
    <% if can? :modify, @post %>
    <div id= 'favbutton'>
      <%= render '/favourites/button' %>
    </div>
      <%= link_to edit_post_path(@post), method: :get do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <% end %>
      <%= link_to post_path(@post),
      method: :delete,
      data: { confirm: 'Are you sure?' } do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>

<div class="show-page">
  <div class="show-container">

    <p><%= @post.body %></p>
    <strong>Posted by:</strong> <%= @post.user_full_name %> <br />
    <strong>Category:</strong> <%= @post.category.title %> <br />
    <strong>Post Tags:</strong> <%= @post.tags.map(&:name).join(', ') %>

    <section class='star-widget'>
      <%= star_counter(@post) %>
      <% if @post.stars.any? %>
        (Average: <%= star_average(@post) %>)
      <% end %>
    </section>

  </div>

<hr />

  <div id = 'comments'>
    <div class='comment-container'>
      <% @post.comments.each do |comment| %>
        <%= render '/comments/comment', { comment: comment } %>
      <% end %>
    </div>
  </div>

  <%= render '/comments/form' %>
</div>
