<h1><%= @post.title %></h1>

<div class="show-page">  
  <div class="show-container">

    <p><%= @post.body %></p>
    Posted by: <%= @post.user_full_name %> <br />
    Category: <%= @post.category.title %> <br />
    Post Tags: <%= @post.tags.map(&:name).join(', ') %>

    <section class='star-widget'>
      <%= star_counter(@post) %>
      <% if @post.stars.any? %>
        (Average: <%= star_average(@post) %>)
      <% end %>
    </section>

  </div>

  <% if can? :modify, @post %>
    <%= button_to 'Edit Post', edit_post_path(@post), method: :get %>
    <%= button_to 'Delete Post', post_path(@post),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  <% end %>

  <div id= 'favbutton'>
    <%= render '/favourites/button' %>
  </div>


    <h1>Comments</h1>

  <div id = 'comments'>
    <div class='comment-container'>
      <% @post.comments.each do |comment| %>
        <%= render '/comments/comment', { comment: comment } %>
      <% end %>
    </div>
  </div>

  <%= render '/comments/form' %>
</div>
